*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
.banner{
		width: 100%;
		height: 100vh;
		background-image:url("Pmbackound.jpg");
		background-size: cover;
		background-position: center;
}
.navbar{
        width: 85%;
        margin: auto;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.Profile{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    margin-top: 80px;
    margin-left: 50px;
}
.content h1{
    font-size: 70px;
    margin-top: 100px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 10px;
}
.Biodata p{
    text-align: left;
    position: absolute;
    color: white;
    margin-left: 70px;
    margin-top: 10px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 0%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    
}
button:hover span{
    height: 100%;
    width: 100%;
    
}
button:hover{
    border: none;
}
.Gambar{
    margin-left: 1000px;
}
.Rebound{
    width: 1000;
    height: 300;
    margin-left: 140px;
}
.News1{
    width: 600;
    height: 400;
    margin-top: 100px;
    margin-left: 150px;
}
.banner1{
		width: 100%;
		height: 400vh;
		background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(blrbackground.jpg);
		background-size: cover;
		background-position: center;
}
.banner2{
		width: 100%;
		height: 300vh;
		background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(djawatan.jpg);
		background-size: cover;
		background-position: center;
}
.banner3{
		width: 100%;
		height: 200vh;
		background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
		background-size: cover;
		background-position: center;
}
.News11{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    margin-top: 700px;
    margin-left: 50px;
}
.News1isi{
    text-align: left;
    position: absolute;
    color: white;
    margin-left: 70px;
    margin-top: 10px;
}
.patung{
    width: 600;
    height: 400;
    margin-top: 76px;
    margin-left: 125px;
}
.News2{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    margin-top: 1400px;
    margin-left: 50px;
}
.News2isi{
    text-align: left;
    position: absolute;
    color: white;
    margin-left: 70px;
    margin-top: 10px;
}
.ijen{
    width: 600;
    height: 400;
    margin-top: 90px;
    margin-left: 125px
}
.gal1 img{
    width: 350px;
    height: 400px;
    margin-left: 50px;
}
.gal1 h2{
    color: white;
    position: relative;
    left: 155;
    top: -2;
}
.gal2 img{
    width: 350;
    height: 400;
    margin-left: 535px;
    margin-top: -400px;
    position: relative;
    top: -55px;
}
.gal2 h2{
    position: relative;
    color: white;
    left: 630;
    top: -25;
    
}
.gal3 img{
    width: 350;
    height: 400;
    margin-left: 990px;
    margin-top: -400px;
    position: relative;
    top: -80;
}   
.gal3 h2{
    position: relative;
    color: white;
    left: 1080;
    top: -50;
    
}
.Banyuwangi video{
    position: relative;
    top: 70;
    width: 950;
    height: 700;
    margin-top: -1440px;
    margin-left: 220px;
}
.musik audio{
    position : relative;
    top: 110;
    margin-top: -780px;
    margin-left: 530px;
}
.Rafa img{
    width: 390;
    height: 500;
    margin-top: 100;
    margin-left: 50;
}
.rafa li{
    font-size: 20;
    color: white;
    margin-left: 60;
    margin-top: 
}
.content1{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    margin-top: -200;
}
.content h1{
    font-size: 70px;
    margin-top: 50px;
}
.chandra img{
    position: relative;
    right: 150;
    width: 400;
    height: 500;
    margin-top: -589;
    margin-left: 1080;
}
.chandra li{
    font-size: 20;
    color: white;
    margin-left: 940;

    position: relative;
    top: -90;
}